
*{
    --uhi-black: #000;
    --uhi-white: #fff;
    --uhi-grey1: #A6A6A6;
    --uhi-grey2: #767676;
    --uhi-purple: #7655D2;
    --uhi-turquoise: #298289;
    --uhi-red: #9E2A2B;
    --uhi-blue: #005587;
    --uhi-orange: #F87A46;
    --uhi-yellow: #FFBB50;
}

html{
    font-family: "aktiv-grotesk", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.15;
}

@media only screen and (min-width: 1000px) {
    html {
      font-size: 18px;
    }
}
  

body{
    margin: 0;
    padding: 0;
}

a{
    color: var(--uhi-blue);
    text-decoration: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/* ##################################### MEDIA ############################################ */
@media (max-width: 1771px){
    .header .tools{
        font-size: 13px;
    }
    .header .tools li{
        padding: 8px 15px;
    }
    header .nav-primary ul{
        font-size: 16px;
    }
    header .nav-primary{
    height: 60px;
    }
}
@media (max-width: 1907px){
    .header .tools{
        font-size: 14px;
    }
}


/* ######################################### TO0LS ######################################### */

header .tools{
    list-style: none;
    background-color: var(--uhi-grey2);
    text-align: right;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

header .tools li{
    display: inline;
    padding: 10px 15px;
    color: var(--uhi-white);
}

header .tools li a {
    color: var(--uhi-white);
    text-decoration: none;
}


/* #################################### NAV PRIMARY ############################################ */

header .nav-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: var(--uhi-black);
    height: 85px;
    z-index: 99;
}

header .nav-primary .logo img{
    width: 60%;
    height: auto;
}

header .nav-primary ul{
    list-style: none;
    font-size: 20px;
}

header .nav-primary ul li, footer .flexwrap.socialdesk ul li{
    display: inline-flex;
}

header .nav-primary ul li a{
    color: var(--uhi-white);
    text-decoration: none;
    padding: 10px;
}


/* burger menu */
header .nav.primary .burger{
    cursor: pointer;
    display: none;
    border: none;
    background: none;
}

header .nav-primary .burger a{
    display: grid;
    padding-top: 20px;
}

header .nav-primary .burger a .bar1,
header .nav-primary .burger a .bar2,
header .nav-primary .burger a .bar3{
    width: 35px;
    height: 3px;
    background-color: var(--uhi-grey1);
    margin: 3px 0;
    transition: 0.4s;
}

/* #################################### MAIN ############################################ */
main{
    height: 80dvh;
}

/* #################################### FOOTER ############################################ */

footer {
    background-color: var(--uhi-black);
    color: var(--uhi-white);
    border-top: 8px solid var(--uhi-purple);
    margin-top: 50px;
}

.flexwrap{
    display: flex;
}

.flexwrap.links{
    padding-top: 60px;
}

footer .flexwrap.links, footer .flexwrap.socialdesk, footer .flexwrap.statement {
    justify-content: space-between;
    margin: 0px 5%;
}

footer .links .site p:first-of-type, footer .links .partners p:first-of-type {
    color: var(--uhi-white);
}

footer p{
    color: var(--uhi-grey1);
}

footer .flexwrap.links ul, footer .flexwrap.socialdesk ul {
    list-style: none;
    padding: 0px;
}

footer .flexwrap.links ul li{
    padding: 5px 0;
}

footer a{
    font-weight: bold;
    color: var(--uhi-grey1);
    text-decoration: none;
}

/* SOCIALS */
footer .flexwrap.socialdesk .social li a{
    height: 50px;
    width: 50px;
}

footer .flexwrap.socialdesk .servicedesk p a{
    background-color: var(--uhi-white);
    color: var(--uhi-black);
    padding: 15px 20px;
    border-radius: 3px;
}

footer hr {
    margin: 40px 5% 0px 5%;
    border: 1px solid var(--uhi-grey2);
}

@media (max-width: 1168px){
    footer {
    display: flex;
    flex-direction: column;
    }

    .flexwrap{
        flex-direction: column;
    }
}