
html{
    font-family: "aktiv-grotesk", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.15;
    --uhi-black: #000;
    --uhi-white: #fff;
    --uhi-grey1: #A6A6A6;
    --uhi-grey2: #767676;
    --uhi-purple: #7655D2;
    --uhi-turquoise: #298289;
    --uhi-red: #9E2A2B;
    --uhi-blue: #005587;
    --uhi-orange: #F87A46;
    --uhi-yellow: #FFBB50;
}

body{
    margin: 0;
    padding: 0;
}

/* ############################################################################################################## */
@media (max-width: 1771px){
    .header .tools{
        font-size: 13px;
    }
    .header .tools li{
        padding: 8px 15px;
    }
}
@media (max-width: 1907px){
    .header .tools{
        font-size: 14px;
    }
}

.header .tools{
    list-style: none;
    background-color: var(--uhi-grey2);
    text-align: right;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.header .tools li{
    display: inline;
    padding: 10px 15px;
    color: var(--uhi-white);
}